# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Databases
*.db
*.sqlite3

# Node / Next.js
node_modules/
.next/
out/
build/
.eslintcache

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Uploads (local)
backend/uploads/
